#language-switch label:hover {
    cursor: pointer;
    background: #eee;
}

#language-switch {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    background: #fff;
    z-index: 15;
}

.logged-in #language-switch {
    top: 32px;
}

#language-switch label {
    flex: 1 1 50%;
}

.restaurant-items {
    display: flex;
    flex-wrap: wrap;
}

.restaurant-items h2.item-section-heading {
    color: #ffd400;
    text-align: center;
    margin-bottom: 15px;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    background: #605c5c;
    border-radius: 10px;
    margin-top: 25px;
    font-weight: bold;
    font-size: 32px;
}

.item-section-heading span {
    font-size: 20px;
    color: #fff;
    display: block;
}

.restaurant-items section {
    width: 100%
}

.restaurant-items .restaurant-item {
    flex: 1 1 50%;
    padding: 10px;
    border-bottom: 1px solid #eee;
    position: relative;
    display: flex;
    align-items: center;
}

.restaurant-items .restaurant-item:hover {
    background-color: #eee;
    cursor: pointer;
}

.restaurant-item .item-image {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100px;
    height: 120px;
}

.restaurant-item .item-details {
    width: 80%;
    padding: 0 10px;
}

.item-details h2,
.item-details h4 {
    color: #242424;
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 5px 0;
}

.item-info {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin: 0;
    font-weight: bold;
}

.item-subtitle {
    font-size: 14px;
    font-weight: 600;
}

.item-alergies {
    font-style: italic;
    font-size: 14px;
}

.item-ingredients,
.item-nutr-facts {
    font-size: 16px;
}

.item-facts {
    position: absolute;
    width: 600px;
    display: none;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    z-index: 10;
    background-color: #fff;
    box-shadow: 1px 1px 6px;
    top: 100%;
    left: 0;
}

.item-active .item-facts {
    display: block;
}

.second-lang,
#language-switch input {
    display: none
}

.item-hidden {
    display: none !important;
}

.restaurant-items p {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .restaurant-item {
        position: unset
    }

    .item-active .item-facts {
        width: 100%;
        top: 0;
        left: 0;
        position: fixed;
        z-index: 99;
        height: 100%;
        padding: 100px 20px 0;
    }

    .restaurant-items>.restaurant-item {
        flex: 1 1 100%;
    }

    .item-facts h4 {
        font-size: 18px
    }

    #language-switch img {
        width: 35%;
    }

    #language-switch {
        display: inline-flex;
        text-align: center;
    }

    #language-switch span {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    #language-switch img {
        width: 10%;
        margin-right: 5px;
    }

    #language-switch label {
        padding: 10px 5px;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        display: flex;
        margin: 0;
    }

    #language-switch span {
        font-weight: bold;
        text-transform: capitalize;
    }
}